/* para comentario crtl + } */
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'EB Garamond', serif; */

body{
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
}

#Titulo {
    color: grey;
    background-color: #ff5f6d;
    width: 270px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 4px 4px 2px #cd7793;
    border-radius: 16px 0 16px 0;
}

.img {
    filter: drop-shadow(0 0 7px #9c43bc);
    transition: all 0.2s;
}
.img:hover {
    filter: drop-shadow(0 0 40px #9c43bc);
}

.BB {
    font-size: 25px;
    color: green;
    font-family: 'Bebas Neue', cursive;
}

.GOT {
    color: #608a9f;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

.PB {
    color: #e5e3e4;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
}

p {
    font-style: italic;
}

.parrafo {
    top: 0%;
    width: 100%;
    background: none;
    column-count: 3;
    font-weight: bold;
    font-size: 15px;
}

.destacado {
    top: 0%;
    color: #9c43bc;
    font-family: fantasy;
}

.contacto {
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 10px 12px 19px -2px rgba(0,0,0,0.75);
    -webkit-box-align: 10px 12px 19px -2px rgba(0,0,0,0.75);
    -moz-window-shadow: 10px 12px 19px -2px rgba(0,0,0,0.75);
    width: 208px;
    background-color: #58355e;
}



