.boton{
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.alternar{
    background: lightblue;
}

.alternar.activo{
    background: #42a5f5;
    color: #fff;
}