.titulo {
    width: 52%;
    background-color: red;
}
.parrafo {
    width: 100%;
    background-color: rgba(89, 0, 255, 0.356);
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.contacto {
    width: 36%; 
    background-color: rgba(127, 208, 255, 0.377);
}




