#Titulo {
    color: grey;
    background-color: pink;
    width: 52%;

}

p {
    font-style: italic;
}


.parrafo {
    width: 100%;
    background-color: rgba(89, 0, 255, 0.356);
    font-weight: bold;
    font-size: 15px;
}

.destacado {
    color: red;
    font-family: fantasy;
}

.contacto {
    width: 36%; 
    background-color: rgba(127, 208, 255, 0.377);
}




